# Файл ts.ini — положи в папку, смонтированную как /config

# Порт (можно переопределить через переменную TS_PORT)
# TS_PORT=8090

# Дополнительные опции TorrServer
# -a = HTTP Basic Auth (используется accs.db)
# -r = только чтение БД
TS_OPTIONS=-a -r

# Автоматическое обновление при старте (если нужно)
# TS_UPDATE=true
